body {
            font-family: 'Noto Sans KR', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
            color: #333;
            line-height: 1.6;
        }

        .container {
            max-width: 800px;
            margin: 30px auto;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(117, 117, 117, 0.08); /* 그림자 조정 */
            border-radius: 5px;
        }

        header {
            background-color: #0070c0;
            color: white;
            padding: 15px 20px;
            margin: -20px -20px 20px -20px;
            text-align: center;
            border-radius: 5px 5px 0 0;
        }

        header h1 {
            margin: 0;
        }

        hr {
            border: 0;
            height: 3px;
            background-color:  #0070c0;
            margin: 25px 0;
        }

        h2 {
            color: #0070c0;
            border-left: 5px solid #0070c0;
            padding-left: 10px;
            margin-top: 30px;
            margin-bottom: 15px;
        }

        h4 {
            color: #555;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .intro-box {
            background-color: #e3f2fd;
            padding: 15px;
            border-radius: 4px;
            margin-bottom: 20px;
            text-align: center;
        }

        img {
            display: block;
            margin: 15px auto;
            border-radius: 5%;
            border: 3px solid #ddd;
        }
        
        .highlight-score {
            color: #d32f2f;
            font-weight: bold;
        }

        .video-container {
            text-align: center;
            margin: 20px 0;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #e0e0e0;
            padding: 10px;
            text-align: center;
        }
        caption {
            text-align: left;
            font-weight: bold;
            margin-bottom: 5px;
        }

        a {
            color: #0070c0;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>